body {
background: linear-gradient(to right, #d4a406,#db1616 );

padding: 20px;

}

h1{text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
 width: 202px;
 height: auto;
 margin: 10px;
}

.image-grid {
display: grid;
}





h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.button {background-color: rgb(201, 174, 24)
 
    
}
     




